@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Risque&family=Roboto&display=swap");

:root {
  --primary-color: #692acc;
  --header-font: "CherryBomb-Regular";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top {
  height: 100vh;
  /* width: 100vw; */
}

@font-face {
  font-family: "CherryBomb-Regular";
  src: url("./fonts/ttf/CherryBomb-Regular.ttf") format("truetype");
  font-weight: bold;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
